* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    display: flex;
    background: black;
}

#main>article {
    flex: 1;
}

#main>nav,
#main>aside {
    flex: 0 0 20vw;
    background: black;
}

#main>nav {
    order: -1;
}

header,
footer {
    background: black;
    height: 20vh;
}

header,
footer,
article,
nav,
aside {
    padding: 1em;
}

h1 {
    color:lightblue;
    font-weight: bold;
    font-size: 3em;
}

.li-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

/* List */
ul {
    counter-reset: index;
    padding: 0;
    max-width: 300px;
}

/* List element */
li {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 12px 0px;
    box-sizing: border-box;

    color:antiquewhite;
}

/* Element counter */
li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, orangered, aquamarine);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Element separation */
li+li {
    border-top: 1px solid antiquewhite;
}